body {
    /* background-color:antiquewhite; */
    background: antiquewhite;
}

.generalcontainer {
    margin-left: 2%;
    margin-right: 2%;
}


.welcome {
    width:50%;
    float:left;
    color:blueviolet;
    margin-left: 100px;
 }


.welcomemessage {
    float: left;
    

}
.welcomemessage h1 {

    font-size: 8em;
    

}


.welcomemessage h3 {

    font-size: 1.5em;

}


.loginlink {

    float: right;
    
    margin-left: 50px;
    margin-top: 150px;
    font-size: 1em;
}

.alllogin {


    margin-bottom: 30px;
    

}

.homelogin {
    width:60%;
    height: 40px;
    border-radius: 4px;
    background-color: blueviolet;
    color:white;
    
}

@media screen and (max-width:480px){
    body{
        max-height:736px;
        background: #ffffff;
        width:80%;
        margin:0px 0px 0px 0px;
        padding: 0px;
    
    }
    #page-header{
        text-align: center;
        font-size: 1.8em;
    }
    .welcomemessage h3 {
        font-size: 0.9em;
        text-align: center;
    }
    .welcome {
       
    }

    .loginlink {

        margin: auto;


    }

    .generalcontainer {
        margin-top: 35%;
    }
}

@media screen and (min-width:481px) and (max-width:786px){

    body{
        max-height:684px;
        background: #ffffff;
        width:80%;
        margin:0px 0px 0px 0px;
        padding: 0px;
    
    }
    #page-header{
        text-align: center;
        font-size: 3em;
    }
    .welcomemessage h3 {
        font-size: 1em;
        text-align: center;
    }
    .welcome {
       
    }

    .loginlink {

        margin: auto;
        border-left: 1px solid blueviolet;
        padding-left: 30px;
        font-size: 90%;

    }

    .generalcontainer {
        margin-top: 20%;
    }
}



@media screen and(min-width:787px) and (max-width:1024px) {

    body{
        max-height:912px;
        background: antiquewhite;
        width:80%;
        margin:0px 0px 0px 0px;
        padding: 0px;
    
    }
   
    .welcomemessage  {
        width: 10%;
    }
    

    .loginlink {

        

       /* margin: auto;
        border-left: 1px solid blueviolet;
        padding-left: 30px;
        font-size: 90%;*/

    }
     
   

    .generalcontainer {
        margin-top: 30%;
       
        
    }
}




