#titleoflist {
    color:white;
    
}

.listcontents ul li {
    list-style-type: disc;
    color: white;
    padding-bottom: 10px;
}
.addmoreitems {
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    
    
}
.addmoreitems input {
    border-radius: 5px;
    height: 25px;
}
.thischeckbox {
    margin-left: 20px;
}